h1 {
    text-transform: uppercase;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 6em;
    margin: 30px;
    width: 33%;
}

p {
    font-family: 'Roboto', sans-serif;
    margin: 30px;
    width: 50%;
    color: white;
    font-size: 2em;

}