#root {
  max-width: 1280px;
 
}

body{
  color: white;
  margin: 0;
  padding: 0;
  background-color: rgb(64,79,237);
}

heading{
  position: relative;
  max-width: 1280px;
  height: 2em;
  display: flex;
  justify-content: space-between;
}

.App h1{
  font-family: 'Poppins', sans-serif;
}

article{
  font-family: 'Roboto', sans-serif;
}

.browser{
  background-color: black;
  color: white;
}