#root {
  max-width: 1280px;
 
}

body{
  color: white;
  margin: 0;
  padding: 0;
  background-color: rgb(64,79,237);
}

heading{
  padding: 10px;
  position: relative;
  max-width: 1280px;
  height: 2em;
  display: flex;
  justify-content: space-between;
}

.App h1{
  font-family: 'Poppins', sans-serif;
}

#main{
  font-family: 'Roboto', sans-serif;
  width: 30em;
  padding: 10px 50px;
  
}

#button{
  padding-top: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#button button{
  margin: 10px;
  padding: 12px 35px;
}

.browser{
  background-color: black;
  color: white;
}

article{
  display: flex;
}

#bg{
  padding-left: 50px;
  margin-top: 132px;;
}