body{
  background-color: rgb(91, 91, 247);
  font-family: 'Roboto', sans-serif;
  color: white;
}
h1,h2{
  font-family: 'Poppins', sans-serif;
}
button{
  border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    border-color: transparent;
    margin: 10px 10px;
}
.download{
  color: rgb(53, 53, 53);
}
.openBrowser{
  color: white;
  background-color: black;
}
p{
    line-height: 1.625;
}
.heroContent{
  width: 60vw;
  font-size: 2rem;
}