body {
    background-color: rgb(69, 69, 224);
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    white-space: pre-wrap;
}

button {
    border-radius: 25px;
    border: 0px;
    margin-top: 10px;
    font-size: 16px;
    padding: 10px;
    max-width: fit-content;
}

.btnPrimary {
    background-color: white;
    color: black;

}

.btnSecondary {
    background-color: black;
    color: white;

}
