h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    color: #FFFFFF;
    padding: 0px 20px;
    margin: 0px 45.5px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    padding: 50px 20px;
    margin: 0px 45.5px;
}