.App {
  font-family: "Roboto", sans-serif;
  background-color: #414fee;
  height: 100vw;
  width: 100vw;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#discord-logo {
  height: 50px;
}

#burgerMenuBtn {
  height: 50px;
}

#body {
  display: flex;
  flex-direction: column;
}

#intro-btns {
  display: flex;
  flex-direction: column;
}
