body {
  padding: 20px 30px;
  height: 100vh;
  background-color: #434ee4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

}