.button {
    background-color: white;
    padding:25px;
    border-radius: 50px;
    color: black;
    text-align: center;
    width: 20%;
}

.button-black {
    background-color: black;
    color: white;
    border-radius: 50px;
    text-align: center;
    width: 25%;
}